config-reader/src/main/resources/UrlShortnerConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UrlShortnerConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="databaseDetails">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="connectionDetails" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="hostName"/>
                      <xs:attribute type="xs:int" name="port"/>
                      <xs:attribute type="xs:string" name="databaseName"/>
                      <xs:attribute type="xs:string" name="collectionName"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="authenticationDetails" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="userName"/>
                      <xs:attribute type="xs:string" name="password"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>